.contact-us {
    background-color: #223a59;
}

.contact-us-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: space-between;
    gap: 20px;
    min-height: 100vh; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; 
}

.contact-text {
    flex: 1;
    padding-top: 200px;
}

.contact-text h2 {
    font-size: clamp(0.8rem, 1.5vw, 1.7rem);
    font-weight: bold;
    color: #faf6f6;
    margin-bottom: 10px;
    font-family: "Libre Baskerville";
}

.contact-text p {
    font-size: clamp(0.8rem, 1vw, 1.5rem);
    line-height: 1.6;
    color: #faf6f6; 
    margin-bottom: 20px;
    font-family: "Montserrat";
}

.google-maps {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
}