.contact-us-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    min-height: 100vh; 
    background-color: #223a59; 
    padding: 20px;
    text-align: center; 
    box-sizing: border-box; 
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
    width: 100%;
    max-width: 800px;
}

.contact h2 {
    font-size: clamp(0.8rem, 1.5vw, 1.7rem);
    font-weight: bold;
    color: #faf6f6;
    margin-bottom: 10px;
    font-family: "Libre Baskerville";
}

.contact p {
    font-size: clamp(0.8rem, 1vw, 1.5rem);
    line-height: 1.6;
    color: #faf6f6; 
    margin-bottom: 20px;
    font-family: "Montserrat";
}